
@media  (max-width: 750px) {

    /* body{
        overflow: hidden ;
    } */

    #desktop-layout{
        display: none;
    }

    #mobile-layout{
        display: block;
    }
    body{
        overflow: auto;
        font-size: 12px;
    }

    .info-copyright{
        padding-left: 26px;
    }

    .bodycopy{
        padding-left: 26px;
        max-width: 63%;
        padding-right: 0;
        max-height: none;
    }

    .media-cont{
        max-width: min(100%, 400px);
        padding-left: .5rem;
    }

    .grey-text{
        font-size: 1rem;
        text-decoration: none;
    }

    .media-cont-start-up {
        /* span on a whole grid  */
        width: 100%;
        position: absolute;
        grid-column-start: unset;
        grid-column-end: unset;
        z-index: -1;
        top: 0;
        /* fix height later */
        height: 100vh;
    }
    
    .image-start-up {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .image{
        max-width: 410px;
    }
}

.mobile-cont{
    padding-right: .5rem;
    /* padding-top: 32px; */
    padding-bottom: 32px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .7rem;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    color: white;
    width: fit-content;
    font-size: 12px;
}

.button-close{
    position: sticky;
    margin-left: auto;
    top: 190px;
    z-index: 2;
}

.link{
    font-size: 1rem;
    text-decoration: underline;
    color: black;
}

.link:hover{
    cursor: pointer;
}

.titles-cont{
 padding-left: 26px;
 display: flex;
 flex-wrap: wrap;
 align-items: end;
 margin-right: .5rem;
 /* margin-bottom: 40px; */
 max-width: 550px;
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 /* width: 100vw; */
 padding-bottom: 2.5rem;
 padding-top: 1rem;
 z-index: 1;
}

.titles-cont--open{
    background-color: var(--background-color); 
}

.titles-cont p{
    line-height: 20px;
    margin-right: 3px;
}


