@font-face {
    font-family: "Labil Grotesk";
    src: url('assets/LabilGrotesk-Regular.a20a072.otf');
}

:root {
    /* 13px min */
    --bodycopy-font-size: clamp(0.6875rem, -0.0625rem + 0.8333vw, 0.8125rem);
    --primary-text-font-size: clamp(1rem, 1.0524rem + -0.1005vw, 0.9rem);
    --margin-xs: clamp(0.5rem, 3vh, 1.56rem);
    --margin-s: clamp(1rem, 9vh, 3.12rem);
    --margin-m: clamp(1.5rem, 7vh, 4.6rem);
    --margin-l: clamp(1.5rem, 13vh, 13rem);
    --margin-xl: clamp(4rem, min(29vh, 6rem), 19.25rem);


}

/* *:hover {
    outline: 1px solid red;
} */

/* margins */

.margin-bottom-xs {
    margin-bottom: var(--margin-xs);
}

.margin-bottom-s {
    margin-bottom: var(--margin-s);
}

.margin-bottom-m {
    margin-bottom: var(--margin-m);
}

.margin-bottom-l {
    margin-bottom: var(--margin-l);
}

.margin-bottom-xl {
    margin-bottom: var(--margin-xl);
}

/* ---- */

/* text */
.bodycopy {
    font-size: var(--bodycopy-font-size);
    line-height: 125.2%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    display: none !important;
}

.show {
    display: block;
}

.primary-text {
    font-size: var(--primary-text-font-size);
    line-height: 135%;
}

.white-text {
    color: white !important;
}



/* ---- */

body {
    font-family: "Labil Grotesk";
    /* overflow: hidden; */
}

.grey-text {
    color: #808080;
}

.tilt {
    margin: 0 var(--primary-text-font-size);
}

.main-grid {
    display: grid;
    grid-template-columns: 39% 41% 1fr;
    height: 100vh;
    width: 100vw;
    /* background-color: orange; */
}

@media (max-width: 1440px) or (max-height: 828px) {
    .main-grid {
        grid-template-columns: 42vw 34vw 23vw;
    }
}

#desktop-layout {
    display: block;
}

#mobile-layout {
    display: none;
}


.overflow-text {
    overflow-y: auto;
}

.overflow-container {
    position: relative;
    width: fit-content;
}

.overflow-container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    /* width: 250px; */
    width: 100%;
    height: 10px;
    /* background-color: palegreen; */
    background: linear-gradient(transparent, white);
    pointer-events: none;
}

.media-cont-start-up {
    background-color: rgb(22, 116, 199);
    /* span on a whole grid  */
    width: 100%;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 4;
    z-index: -1;
    /* fix height later */
    height: 100vh;
}

.image-start-up {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* --------------column 1--------------  */
.grid-item-article {
    display: grid;
    grid-template-rows: 70vh 20vh 10vh;
    height: 100%;
    padding-left: 1rem;
}

.media-cont {
    max-width: 24vw;
    padding-left: .7rem;
    /* padding-top: 900px; */
    padding-bottom: 3.5rem;
    align-self: end;
}

.image {
    object-fit: contain;
    width: 100%;
}

.video {
    width: 100%;
}

.article-bodycopy {
    max-width: 240px;
    height: 100%;
}

.article-heading {
    /* align-self: end; */
    padding-right: 2rem;
    padding-bottom: 14px;
    max-width: 270px;
    /* //put in the 3rd row  */
    grid-row: 3;
}

@media (max-width: 1440px) or (max-height: 828px) {
    .media-cont {
        max-width: 80%;
        padding-bottom: 1.7vh;
    }

    .grid-item-article {
        grid-template-rows: 65vh 25vh 10vh;
    }

}

/* --------------column 2--------------  */
.grid-item-about-us {
    padding-top: 4rem;
}

.about-us-top-text {
    max-width: 340px;
}

.about-us-bodycopy {
    max-width: 540px;
    padding-right: 2rem;
    padding-bottom: 1rem;
}


@media screen and (max-width: 1440px) {

    .grid-item-about-us {
        padding-top: 2rem;
    }

    .about-us-bodycopy {
        max-width: 75%;
        max-height: 60vh;
    }

}



/* --------------column 3--------------  */
.grid-item-info {
    padding-right: 4vw;
    display: grid;
    grid-template-rows: 15% min(380px, 60vh) auto 10% 20%;
    height: 100%;
}

.info-title {
    align-self: end;
}

.info-bodycopy {
    height: min(380px, 60vh);
    /* margin-bottom: min; */
}

.info-address {
    grid-row: 4;
}

.info-copyright {
    grid-row: 5;
    padding-bottom: 14px;
}

@media screen and (max-width: 1440px) {

    .grid-item-info {
        grid-template-rows: 15% min(380px, 60vh) auto 10% 7%;
    }

    .info-copyright {
        align-self: end;

    }

}

/* ----------------------------------- */