@font-face {
    font-family: "Labil Grotesk";
    src: url('assets/LabilGrotesk-Regular.a20a072.otf');
}

:root{
    --bodycopy-font-size: clamp(0.625rem, 0.5384rem + 0.1659vw, 0.73rem);
    --primary-text-font-size: clamp(1rem, 1.0524rem + -0.1005vw, 0.9rem);
    --margin-xs: clamp(0.5rem, 3vh, 1.56rem);
    --margin-s: clamp(1rem, 9vh, 3.12rem);
    --margin-m: clamp(1.5rem, 7vh, 4.6rem);
    --margin-l: clamp(1.5rem, 13vh, 13rem);
    --margin-xl: clamp(4rem, min(29vh, 6rem), 19.25rem);


}

/* margins */

.margin-bottom-xs {
    margin-bottom: var(--margin-xs);
}
.margin-bottom-s {
    margin-bottom: var(--margin-s);
}

.margin-bottom-m {
    margin-bottom: var(--margin-m);
}

.margin-bottom-l {
    margin-bottom: var(--margin-l);
}

.margin-bottom-xl {
    margin-bottom: var(--margin-xl);
}
/* ---- */

/* text */
.bodycopy{
    font-size: var(--bodycopy-font-size);
    line-height: 125.2%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.primary-text{
    font-size: var(--primary-text-font-size);
    line-height: 135%;
}
/* ---- */

body {
    font-family: "Labil Grotesk";
    
}

.grey-text{
    color: #808080;
} 

h1::selection, p::selection, em::selection {
    color: rgb(0, 0, 0);
    background-color: bisque;
}

.tilt{
    margin: 0 var(--primary-text-font-size);
}

.main-grid{
    display: grid;
    grid-template-columns: 39% 41% 1fr;
    height: 100vh;
    width: 100vw;
    background-color: orange;
}

.overflow-text{
    overflow-y: auto;
}

/* --------------column 1--------------  */
.grid-item-article{
    display: grid;
    grid-template-rows: 70vh 20vh 10vh;
    padding-left: 1rem;
}
.media-cont{
    padding-left: .7rem;
    padding-bottom: 3.5rem;
    align-self: end;
}
.image{
    max-width: 24vw;
    object-fit: contain;
}
.article-bodycopy{
    max-width: 240px;
    height: 100%;
}

.article-heading{
    align-self: end;
    padding-right: 2rem;
    padding-bottom: 14px;
    max-width: 270px;
}

/* --------------column 2--------------  */
.grid-item-about-us{
    padding-top: 4rem;
}

.about-us-top-text{
    max-width: 340px;
}
.grid-item-about-us .bodycopy {
    max-width: 75%;
    max-height: 60vh;
}

/* --------------column 3--------------  */
.grid-item-info{
    padding-right: 4vw;
    padding-top: max(1.3rem, 3vh);
}
.rotate-your-device{
    display: none;
    height: 100vh;
}

.rotate-your-device p{
    margin: auto;
}

@media screen and (max-width: 1092px) {
    .grid-item-about-us{
        padding-right: 10vh;
    }

}

@media screen and (max-width: 834px) and (min-width: 600px) and (orientation : portrait){

    .rotate-your-device{
        display: flex;
    }
    .main-grid{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .main-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}