@font-face {
    font-family: "Labil Grotesk";
    src: url('assets/LabilGrotesk-Regular.a20a072.otf');
}

:root {
    /* 13px min */
    --bodycopy-font-size: clamp(0.75rem, 0.5417rem + 0.4444vw, 0.875rem);

    --primary-text-font-size: clamp(1rem, 1.0524rem + -0.1005vw, 0.9rem);
    --margin-xs: clamp(0.5rem, 3vh, 1.56rem);
    --margin-s: clamp(1rem, 9vh, 3.12rem);
    --margin-m: clamp(1.5rem, 7vh, 4.6rem);
    --margin-l: clamp(1.5rem, 13vh, 13rem);
    --margin-xl: clamp(4rem, min(29vh, 6rem), 19.25rem);
    --background-color: #fff;


}

/* margins */

.margin-bottom-xs {
    margin-bottom: var(--margin-xs);
}

.margin-bottom-s {
    margin-bottom: var(--margin-s);
}

.margin-bottom-m {
    margin-bottom: var(--margin-m);
}

.margin-bottom-l {
    margin-bottom: var(--margin-l);
}

.margin-bottom-xl {
    margin-bottom: var(--margin-xl);
}

/* ---- */

/* text */
.bodycopy {
    font-size: var(--bodycopy-font-size);
    line-height: 125.2%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    display: none !important;
}

.show {
    display: block;
}

.primary-text {
    font-size: var(--primary-text-font-size);
    line-height: 135%;
}

.white-text {
    color: white !important;
}


/* ---- */

.html{
    scroll-behavior: smooth;
}

body {
    /* position: fixed; */
    font-family: "Labil Grotesk";
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    background-color: var(--background-color);
    /* height: calc(100vh + 100px); */
}

/* @media  (min-width: 750px) {
    body {
      
    }
    
} */



.grey-text {
    color: #808080;
}

.tilt {
    margin: 0 var(--primary-text-font-size);
}

.main-grid {
    position:fixed;
    display: grid;
    grid-template-columns: 39% 41% 1fr;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 1440px) or (max-height: 828px) {
    .main-grid {
        grid-template-columns: 42vw 34vw 24vw;
    }
}

#desktop-layout {
    display: block;
}

#mobile-layout {
    display: none;
}

.overflow-container {
    position: relative;
    width: fit-content;
    overflow: hidden;

}
.overflow-text{
    overflow: auto; 
    /* display: block; */
    /* margin-bottom: 10px; */
    /* border: 4px solid green */
}

.overflow-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    /* background-color: rgba(255, 234, 0, 0.41); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
}

.media-cont-start-up {
    background-color: rgb(0, 0, 0);
    /* span on a whole grid  */
    width: 100%;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 4;
    z-index: -1;
    /* fix height later */
    height: 100vh;
}


.image-start-up {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* --------------column 1--------------  */
.grid-item-article {
    display: grid;
    grid-template-rows: 70vh 20vh 10vh;
    height: 100%;
    padding-left: 1rem;
}

.media-cont {
    max-width: 24vw;
    /* max-height: 50vh; */
    padding-left: .7rem;
    /* padding-top: 900px; */
    /* background-color: blue; */  /* for debugging */
    padding-bottom: 3.5rem;
    align-self: end;
    z-index: 2;
}

.image {
    object-fit: contain;
    width: 100%;
}

.video {
    width: 100%;
}

.article-bodycopy {
    max-width: 240px;
    height: 100%;
}

.article-heading {
    align-self: center;
    padding-right: 2rem;
    padding-bottom: 14px;
    max-width: 270px;
    /* //put in the 3rd row  */
    grid-row: 3;
}

@media (max-width: 1440px) or (max-height: 828px) {
    .media-cont {
        max-width: 80%;
        padding-bottom: 1.7vh;

    }

    .grid-item-article {
        grid-template-rows: 65vh 25vh 10vh;
    }

}

/* --------------column 2--------------  */
.grid-item-about-us {
    padding-top: 4rem;
}

.about-us-top-text {
    max-width: 340px;
}

.about-us-bodycopy {
    max-width: 540px;
    padding-right: 2rem;
    padding-bottom: 1rem;
}


@media screen and (max-width: 1440px) {

    .grid-item-about-us {
        padding-top: 2rem;
    }

    .about-us-bodycopy {
        max-width: 75%;
        max-height: 60vh;
    }

}



/* --------------column 3--------------  */
.grid-item-info {
    padding-right: 4vw;
    display: grid;
    grid-template-rows: 15% min(380px, 60vh) auto 10% 20%;
    height: 100%;
}

.info-title {
    align-self: end;
}

.info-bodycopy {
    height: min(380px, 60vh);
    /* margin-bottom: min; */
}

.info-address {
    grid-row: 4;
}

.info-copyright {
    grid-row: 5;
    padding-bottom: 14px;
}

@media screen and (max-width: 1440px) {

    .grid-item-info {
        grid-template-rows: 15% min(380px, 60vh) auto 10% 7%;
    }

    .info-copyright {
        align-self: end;

    }

}


@media (max-height: 670px) and (min-width: 750px) {
    /* body{
        background-color: lavender;
    } */

    .grid-item-info{
        grid-template-rows: 7% repeat(4, auto);
    }

    .grid-item-article{
        grid-template-rows: 50vh 30vh auto;
    }

    .media-cont{
        max-width: 20vw;
    }

    .margin-bottom-s{
        margin-bottom: .7rem;
    }

    .margin-bottom-l{
        margin-bottom: 1.2rem;
    }

}

/* ----------------------------------- */